<a href="{% url 'video:image' %}">
    <button type="button" class="btn btn-warning">
        Image
    </button>    
</a>
{% if request.session.login_successful > 0 %}
<a href="{% url 'video:video_jpeg' %}">
    <button type="button" class="btn btn-warning">
        Video
    </button>    
</a>  
<a href="{% url 'video:settings' %}">
    <button type="button" class="btn btn-info">
        Settings
    </button>    
</a>  
<a href="{% url 'video:camera' %}">
    <button type="button" class="btn btn-danger">
        Camera
    </button>    
</a>  
<a href="{% url 'video:stream_jpeg' %}">
    <button type="button" class="btn btn-danger">
        Stream
    </button>    
</a>  
{% endif %}

<br>