{% extends "home/base.html" %}

{% block submenu %}
{% include "boards/menu.html" %}
{% endblock %}

{% block current_time %}

{% endblock %}

{% block content %}

Board identification number: {{id}}<br>
Serial port: {{serial_port}}<br>
<input type="checkbox" id="autoScroll" checked>Auto scroll<br>
<input type="checkbox" id="appendCR">Append CR<br>
<input type="checkbox" id="appendLF">Append LF<br>
<input type="checkbox" id="localEcho" checked>Local echo<br>
<label for="refreshRate">Refresh Rate (ms):</label>
<input type="range" id="refreshRate" name="refreshRate" min="200" max="2000" step="50" value="500" oninput="updateRefreshRate(this.value)">
<span id="refreshRateValue"></span>ms
<br>
<div class="container">
    <div class="row">
        <div class="col-10">
            <textarea id="streamFrame" rows="15" readonly style="font-family: monospace; width: 100%;">
            </textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <form id="inputForm" action="#">
                <input id="writeID" type="hidden" name="id" value="{{id}}">
                <input id="writeText" type="text" name="data" onkeydown="if(event.keyCode===13) { event.preventDefault(); sendData(); }" style="font-family: monospace; width: 100%;" />
                <input type="button" class="btn btn-primary" onclick="sendData();" value="Send">
                <input type="button" class="btn btn-secondary" onclick="clearData();" value="Clear">
                <input id="startStopDataId" type="button" class="btn btn-danger" onclick="startStopData();" value="Stop">
            </form>
        </div>
    </div>
</div>

<label for="usePlotting">Use plotting</label>
<input type="checkbox" id="usePlotting" name="usePlotting" />

{% include "boards/widgets/plot.html" %}

{% endblock %}

{% block scripts %}
<script>
    var refreshRateValue = document.getElementById("refreshRate").value;
    var serialReadStarted = true;
    // update the refresh rate value label
    document.getElementById("refreshRateValue").innerText = refreshRateValue;

    /*
    * Function to scroll the textarea to the bottom automatically
    */
    function scrollFrame() {
        var textarea = document.getElementById("streamFrame");
        if (document.getElementById("autoScroll").checked) {
            textarea.scrollTop = textarea.scrollHeight;
        }
    }

    /*
    * Function to send data to the server
    */
    function sendData() {
        content = document.getElementById("writeText").value;
        if (document.getElementById("appendCR").checked) {
            content += "\r";
        }
        if (document.getElementById("appendLF").checked) {
            content += "\n";
        }
        if (document.getElementById("localEcho").checked) {
            document.getElementById("streamFrame").value += content;
            scrollFrame();
        }
        $.ajax({
            type: "POST",
            url: "{% url 'boards:serial_write' id %}",
            data: {
                csrfmiddlewaretoken: "{{ csrf_token }}",
                id: document.getElementById("writeID").value,
                data: content,
            }
        });
    }

    /*
    * Function to read data through serial port from the server
    */
    function readData() {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
                document.getElementById("streamFrame").value += http.responseText;
                scrollFrame()

                // update plot if it is enabled
                if (plottingEnabled) {
                    // do parsing of each line and display data
                    updatePlotMulti(http.responseText);
                }
            }
        }
        http.open("GET", "{% url 'boards:serial_read' id %}", true);
        http.send();
    }

    /*
    * Function to clear the textarea
    */
    function clearData() {
        document.getElementById("streamFrame").value = "";
    }

    var readDataInterval = setInterval(readData, refreshRateValue);

    /*
    * Function to start or stop reading data
    */
    function startStopData(){
        if (serialReadStarted == true){
            clearInterval(readDataInterval);
            serialReadStarted = false;
            document.getElementById("startStopDataId").value = "Start";
            document.getElementById("startStopDataId").className = "btn btn-success";
        } else {
            readDataInterval = setInterval(readData, refreshRateValue);
            serialReadStarted = true;
            document.getElementById("startStopDataId").value = "Stop";
            document.getElementById("startStopDataId").className = "btn btn-danger";
        }
    }

    /*
    * Function to update the refresh rate
    * @param {number} value - the value of the new refresh rate
    */
    function updateRefreshRate(value) {
        document.getElementById("refreshRateValue").innerText = value;
        refreshRateValue = parseInt(value);
        if (serialReadStarted == true) {
            clearInterval(readDataInterval);
            readDataInterval = setInterval(readData, refreshRateValue);
        }
    }

    // plotting related functions

    var plottingEnabled = false;
    plottingEnabled = document.getElementById("usePlotting").checked;

    // add event listener to checkbox
    document.getElementById("usePlotting").addEventListener("change", function () {
        plottingEnabled = document.getElementById("usePlotting").checked;

        if (plottingEnabled) {
            purgePlot(myChart);
        }
    });


</script>
{% endblock %}

{% include "boards/plot.html" %}